<div class="container mt-5">
  <div style="color: rgb(140, 0, 255)">
    <h2><span style="color: black">Username:</span> {{ userid }}</h2>
  </div>
  <span *ngIf="listExists()">
    <div style="color: rgb(0, 4, 255)">
      <h4>---------------------------------Added Container List</h4>
    </div>
    <table
      class="table table-dark table-striped mt-5"
      style="width: 50%; margin: auto"
    >
      <thead>
        <tr>
          <th>Container #</th>
          <th style="text-align: center">Remove</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of containerListForShow; let i = index">
          <td>{{ item }}</td>
          <td style="text-align: center">
            <button
              class="btn btn-sm btn-danger"
              (click)="deleteWatchlistEntry(item)"
            >
              Remove From Watchlist
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </span>

  <span *ngIf="txnExists()">
    <div class="mt-5" style="color: rgb(0, 4, 255)">
      <h4>---------------------------------Transaction List</h4>
    </div>
    <table
      class="table table-dark table-striped mt-5 mb-5"
      style="width: 80%; margin: auto"
    >
      <thead>
        <tr>
          <th>Container id</th>
          <th>Container Fees</th>
          <th>User id</th>
          <th>Card Owner Name</th>
          <th>Card Type</th>
          <th>card Number (Last 4 Digit)</th>
          <th>Transaction Time</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of recTxnData; let i = index">
          <td>{{ item.containerid }}</td>
          <td>{{ item.containerFees }}</td>
          <td>{{ item.userid }}</td>
          <td>{{ item.cardOwnerName }}</td>
          <td>{{ item.cardType }}</td>
          <td>{{ item.cardNumber }}</td>
          <td>{{ item.txnTime }}</td>
        </tr>
      </tbody>
    </table>
  </span>
</div>
